/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*
 10. Render the `main` element consistently in IE.
*/
main {
  display: block;
}
/*
 11. Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/*
 12. Add the correct box sizing in Firefox.
 13. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/*
 14. Correct the inheritance and scaling of font size in all browsers.
 15. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics ========================================== */

/*
 16. Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}
/*
 17. Remove the bottom border in Chrome 57-
 18. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
/*
 19. Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/**
 20. Correct the inheritance and scaling of font size in all browsers.
 21. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/*
 22. Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
 23. Prevent `sub` and `sup` elements from affecting the line height in
 all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

/* Embedded content =========================================== */

/*
  24. Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms ===================================================== */

/*
 25. Change the font styles in all browsers.
 26. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
/*
  27. Show the overflow in IE.
  Show the overflow in Edge.
*/
button,
input {
  overflow: visible;
}
/*
 28. Remove the inheritance of text transform in Edge, Firefox, and IE.
 Remove the inheritance of text transform in Firefox.
*/
button,
select {
  text-transform: none;
}
/*
 29. Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
/*
 30. Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/*
 31. Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/*
 32. Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/*
 33. Correct the text wrapping in Edge and IE.
 34. Correct the color inheritance from `fieldset` elements in IE.
 35. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
/*
 36. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}
/*
 37. Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}
/*
 38. Add the correct box sizing in IE 10.
 39. Remove the padding in IE 10.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/*
 40. Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/*
 41. Correct the odd appearance in Chrome and Safari.
 42. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
/*
 43. Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 44. Correct the inability to style clickable types in iOS and Safari.
 45. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive ================================================== */

/*
 46. Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}
/*
 47. Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc ========================================================== */

/*
 48. Add the correct display in IE 10+.
*/
template {
  display: none;
}
/*
 49. Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}
