/* FONTS */
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: clamp(35px, 8.5vw, 50px);
  transition: all 0.5s;
}

/* FORMATTING */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}

.body__wrapper {
  width: clamp(350px, 80vw, 800px);
  padding-top: 3vh;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding: 0 10px;
  max-height: 110px;
}

.header__img {
  height: clamp(40px, 10vw, 65px);
  width: clamp(40px, 10vw, 65px);
  transition: all 0.5s;
}

#options {
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s;
}

@media (hover: hover) {
  #options:hover {
    transform: scale(1.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 0 rgb(228, 160, 255);
  }
}

/* START BUTTON */
.start__game {
  display: flex;
  justify-content: center;
}

.btn__start {
  margin-top: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

/* GAMEBOARD */
.gameboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  transition: all 0.3s;
}

.gameboard__row {
  width: 80%;
  max-width: 420px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
  transition: transform 0.3s;
}

.gameboard__box {
  border: solid 1px black;
  width: clamp(40px, 12vw, 75px);
  height: clamp(40px, 12vw, 75px);
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(35px, 10vw, 70px);
}

/* KEYBOARD */
.keyboard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.452);
  max-width: 580px;
  margin: 0 auto;
  transition: all 0.3s;
}

.keyboard__row {
  margin-top: 5px;
}

.keyboard__key {
  cursor: pointer;
  width: clamp(27px, 6.5vw, 50px);
  height: clamp(27px, 6.5vw, 50px);
  border: solid 1px black;
  border-radius: 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.452);
  transition: all 0.3s;
}

.key--action {
  border-radius: 5px;
  font-size: 0.55rem;
  width: clamp(48px, 12vw, 80px);
  background-color: rgb(199, 179, 179);
}

/* FOOTER */
.footer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.footer__p {
  text-align: center;
}

/* MODALS */
.modal__option {
  font-size: 20px;
  border: solid 2px darkgray;
  background-color: rgba(42, 21, 131, 0.897);
  color: rgb(196, 196, 196);
  font-weight: bold;
  border-radius: 10px;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  right: 0;
  opacity: 0;
  transition: all 1s;
  z-index: 100;
}

.checkbox__label {
  margin-left: 10px;
}

input[type="checkbox"] {
  background-color: rgb(0, 0, 0);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 2px;
  transform: translateY(-1px);
}

/* GAMEPLAY STATES */
.hidden {
  opacity: 0;
  transform: translateY(200px);
}

.modal--visible {
  transform: translateY(350%);
  opacity: 1;
}

.full-hidden {
  display: none;
  opacity: 0;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.253);
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(3px);
}

.dark-mode-enabled {
  background-color: rgb(70, 70, 70);
  color: white;
}

/* Error shake */
.shake {
  animation-name: error-shake;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
}

@keyframes error-shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.correct-guess {
  background-color: rgba(18, 165, 18, 0.527);
}

.partial-guess {
  background-color: rgba(165, 118, 18, 0.527);
}

.wrong-guess {
  background-color: rgba(110, 110, 110, 0.582);
}
